In [11]:
import csv, sqlite3, pandas

In [12]:
#CREATING THE CONNECTION & CURSOR
con = sqlite3.connect("chicago.db")
cur = con.cursor()

### Analyzing Metadata
-  Viewing the tables in the DB.
-  Viewing the amount of columns that the objective table has.
-  Viewing the data-types of the columns. _Unfortunally, the variety of data-types was simplified by SQLite3_

In [41]:
#VIEWING ALL THE TABLES IN THE DB
cur.execute('SELECT name from sqlite_master where type= "table"')
cur.fetchall()

[('CHICAGO_SCHOOLS',)]

In [30]:
#FROM NOW ON WE ARE GOING TO USE SQL MAGIC TO QUERY THE DB
%load_ext sql
%sql sqlite:///chicago.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [43]:
#COUNTING THE AMOUNT OF COLUMNS IN THE TABLE (78)
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_SCHOOLS')

 * sqlite:///chicago.db
Done.

[(78,)]

In [51]:
#VIEWING THE DATA TYPES OF THE COLUMNS
%sql SELECT name, type FROM PRAGMA_TABLE_INFO('CHICAGO_SCHOOLS')

 * sqlite:///chicago.db
Done.

[('School_ID', 'INTEGER'),
 ('NAME_OF_SCHOOL', 'TEXT'),
 ('ElementaryMiddleorHighSchool', 'TEXT'),
 ('Street_Address', 'TEXT'),
 ('City', 'TEXT'),
 ('State', 'TEXT'),
 ('ZIP_Code', 'INTEGER'),
 ('Phone_Number', 'TEXT'),
 ('Link', 'TEXT'),
 ('Network_Manager', 'TEXT'),
 ('Collaborative_Name', 'TEXT'),
 ('Adequate_Yearly_Progress_Made_', 'TEXT'),
 ('Track_Schedule', 'TEXT'),
 ('CPS_Performance_Policy_Status', 'TEXT'),
 ('CPS_Performance_Policy_Level', 'TEXT'),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT'),
 ('Safety_Icon', 'TEXT'),
 ('SAFETY_SCORE', 'INTEGER'),
 ('Family_Involvement_Icon', 'TEXT'),
 ('Family_Involvement_Score', 'TEXT'),
 ('Environment_Icon', 'TEXT'),
 ('Environment_Score', 'INTEGER'),
 ('Instruction_Icon', 'TEXT'),
 ('Instruction_Score', 'INTEGER'),
 ('Leaders_Icon', 'TEXT'),
 ('Leaders_Score', 'TEXT'),
 ('Teachers_Icon', 'TEXT'),
 ('Teachers_Score', 'TEXT'),
 ('Parent_Engagement_Icon', 'TEXT'),
 ('Parent_Engagement_Score', 'TEXT'),
 ('Parent_Environment_Icon', 'TEXT'),
 ('Parent_Environment_Score', 'TEXT'),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT'),
 ('Rate_of_Misconducts__per_100_students_', 'REAL'),
 ('Average_Teacher_Attendance', 'TEXT'),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT'),
 ('Pk_2_Literacy__', 'TEXT'),
 ('Pk_2_Math__', 'TEXT'),
 ('Gr3_5_Grade_Level_Math__', 'TEXT'),
 ('Gr3_5_Grade_Level_Read__', 'TEXT'),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT'),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT'),
 ('Gr6_8_Grade_Level_Math__', 'TEXT'),
 ('Gr6_8_Grade_Level_Read__', 'TEXT'),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT'),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT'),
 ('Gr_8_Explore_Math__', 'TEXT'),
 ('Gr_8_Explore_Read__', 'TEXT'),
 ('ISAT_Exceeding_Math__', 'TEXT'),
 ('ISAT_Exceeding_Reading__', 'TEXT'),
 ('ISAT_Value_Add_Math', 'TEXT'),
 ('ISAT_Value_Add_Read', 'TEXT'),
 ('ISAT_Value_Add_Color_Math', 'TEXT'),
 ('ISAT_Value_Add_Color_Read', 'TEXT'),
 ('Students_Taking__Algebra__', 'TEXT'),
 ('Students_Passing__Algebra__', 'TEXT'),
 ('9thGradeEXPLORE(2009)', 'TEXT'),
 ('9thGradeEXPLORE(2010)', 'TEXT'),
 ('10thGradePLAN(2009)', 'TEXT'),
 ('10thGradePLAN(2010)', 'TEXT'),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT'),
 ('11thGradeAverageACT(2011)', 'TEXT'),
 ('Net_Change_PLAN_and_ACT', 'TEXT'),
 ('College_Eligibility__', 'TEXT'),
 ('Graduation_Rate__', 'TEXT'),
 ('College_Enrollment_Rate__', 'TEXT'),
 ('COLLEGE_ENROLLMENT', 'INTEGER'),
 ('General_Services_Route', 'INTEGER'),
 ('Freshman_on_Track_Rate__', 'TEXT'),
 ('X_COORDINATE', 'REAL'),
 ('Y_COORDINATE', 'REAL'),
 ('Latitude', 'REAL'),
 ('Longitude', 'REAL'),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER'),
 ('COMMUNITY_AREA_NAME', 'TEXT'),
 ('Ward', 'INTEGER'),
 ('Police_District', 'INTEGER'),
 ('Location', 'TEXT')]

### Analyzing Data
The goal of this analysis is to understand how is the education in Chicago and which schools have the best performance based on the established parameters.

Many of the queries are limited by 3 or 5 results for improving the understandability of the notebook.

In [53]:
#CHECKING WHAT COLUMNS START WITH "COMM"
%sql SELECT name, type FROM PRAGMA_TABLE_INFO('CHICAGO_SCHOOLS') WHERE name LIKE 'Comm%'

 * sqlite:///chicago.db
Done.

[('COMMUNITY_AREA_NUMBER', 'INTEGER'), ('COMMUNITY_AREA_NAME', 'TEXT')]

In [86]:
#PREVIEWING THE FIRST 5 ROWS OF THE TABLE
%sql SELECT * FROM CHICAGO_SCHOOLS LIMIT 5

 * sqlite:///chicago.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', '69.7', '64.4', '0.2', '0.9', 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', '16.8', '16.5', '0.7', '1.4', 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', '18.3', '15.5', '-0.9', '-1.0', 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56, 'Average', '44', 'Average', 45, 'Weak', 37, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', '11.1', '9.6', '0.9', '2.4', 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49, 'Strong', '60', 'Strong', 60, 'Average', 55, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

In [68]:
#COUNTING THE AMOUNT OF ELEMENTARY PUBLIC SCHOOLS IN CHICAGO --> 462
%sql select count(*) from CHICAGO_SCHOOLS where ElementaryMiddleorHighSchool='ES'

 * sqlite:///chicago.db
Done.

[(462,)]

In [177]:
#VIEWING WHAT SCHOOLS HAVE THE MAX SAFETY SCORE.
%sql select name_of_school from CHICAGO_SCHOOLS WHERE SAFETY_SCORE=(select max(SAFETY_SCORE) from CHICAGO_SCHOOLS) LIMIT 3

 * sqlite:///chicago.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',)]

In [93]:
#HOW MUCH THE SAFETY SCORE MAX IS.
%sql select max(SAFETY_SCORE) from CHICAGO_SCHOOLS

 * sqlite:///chicago.db
Done.

[(99,)]

##### Top 10 Schools by student attendance

In [159]:
%%sql select name_of_school, REPLACE(average_student_attendance, '.', ',') as STUDENT_ATTENDANCE 
from CHICAGO_SCHOOLS ORDER BY AVERAGE_STUDENT_ATTENDANCE desc LIMIT 10

 * sqlite:///chicago.db
Done.

[('John Charles Haines Elementary School', '98,40%'),
 ('James Ward Elementary School', '97,80%'),
 ('Edgar Allan Poe Elementary Classical School', '97,60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97,60%'),
 ('Rachel Carson Elementary School', '97,60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97,50%'),
 ('Andrew Jackson Elementary Language Academy', '97,40%'),
 ('Lenart Elementary Regional Gifted Center', '97,40%'),
 ('Disney II Magnet School', '97,30%'),
 ('John H Vanderpoel Elementary Magnet School', '97,20%')]

In [164]:
#COUNTING HOW MANY SCHOOLS HAVE AN AVERAGE STUDENT ATTENDANCE BELOW 70%
%sql select count(*) from CHICAGO_SCHOOLS where CAST (REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE) < 70

 * sqlite:///chicago.db
Done.

[(8,)]

##### Viewing the total enrollement per community area.

In [176]:
%%sql 
select Community_Area_Name, sum(College_Enrollment) AS total_enrollment from CHICAGO_SCHOOLS 
group by Community_Area_Name LIMIT 5

 * sqlite:///chicago.db
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175)]

In [170]:
#TOP 5 MOST INSECURE SCHOOLS IN CHICAGO
%sql SELECT name_of_school, safety_score FROM CHICAGO_SCHOOLS  where safety_score !='None' ORDER BY safety_score LIMIT 5

 * sqlite:///chicago.db
Done.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('Emil G Hirsch Metropolitan High School', 13)]

In [175]:
#HOW MANY TOP PERFORMING PUBLIC HIGH SCHOOLS ARE IN CHICAGO
%sql select count(*) FROM CHICAGO_SCHOOLS where CPS_Performance_Policy_Level='Level 1' and ElementaryMiddleorHighSchool='HS'

 * sqlite:///chicago.db
Done.

[(11,)]